SpaceInvaders Готова почти/Library/
SpaceInvaders Готова почти/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
SpaceInvaders Готова почти/obj/
SpaceInvaders Готова почти/Packages/
SpaceInvaders Готова почти/.vs/
SpaceInvaders Готова почти/Assembly-CSharp.csproj
SpaceInvaders Готова почти/.vsconfig
SpaceInvaders Готова почти/Logs/Packages-Update.log
